<h1>Hello Rails</h1>
<% if user_signed_in? %>
  <p><%= current_user %></p>
  <button><%= 
    link_to 'Logout', signout_path,
    method: :delete, 
    data: { confirm: 'Do you want to log out?' } 
  %></button>
<% end %>